// design tokens

/*----------------------------
 colors
----------------------------*/


/*----------------------------
typography
----------------------------*/
//CHANGE TO CHALLENGE TYPOGRAPHY
body {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    font-weight: 400;
    overflow-x: hidden;
}

