/*----------------------------
      layout
 ----------------------------*/
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;

  @media only screen and (min-width: 1440px) {
    align-items: center;
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  margin: 5.25rem 1.75rem 2.3125rem;
  align-items: center;
  max-width: 34.375rem;

  @media only screen and (min-width: 1440px) {
    max-width: 40rem;
    margin: 5.375rem 0;
  }
}

/*----------------------------
      cta section
----------------------------*/
.cta {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 1.75rem;

  @media only screen and (min-width: 1440px) {
    padding: 0 0.125rem;
  }

  &__heading {
    font-size: 1.375rem;
    line-height: 2rem;
    font-weight: 400;
    color: $gray;
    margin: 2.9375rem 0 0.9375rem;

    @media only screen and (min-width: 1440px) {
      font-size: 3rem;
      line-height: 3.75rem;
    }

    span {
      font-weight: 700;
      color: $dark-blue;
    }
  }

  &__text {
    font-size: 0.75rem;
    line-height: 0.9087rem;
    color: $dark-blue;
    margin: 0 0 2rem;

    @media only screen and (min-width: 1440px) {
      font-size: 1.25rem;
      line-height: 1.515rem;
      margin: 0 0 2.5625rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    @media only screen and (min-width: 1440px) {
      flex-direction: row;
      gap: 1rem;
      position: relative;
    }
  }

  &__input {
    border: 0.0625rem solid $pale-blue;
    border-radius: 1.75rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 300;
    padding: 0.625rem 2rem;
    color: hsla(223, 59%, 83%, 1);

    @media only screen and (min-width: 1440px) {
      width: 100%;
      font-size: 1rem;
      padding: 1.125rem 1.875rem;
    }
  }

  &__input::placeholder {
    color: hsla(223, 59%, 83%, 1);
  }

  &__button {
    background-color: $blue;
    border-radius: 1.75rem;
    border: none;
    box-shadow: 0rem 0.3125rem 0.625rem 0.125rem rgba(76, 123, 243, 0.230414);
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 600;
    color: hsla(0, 0%, 100%, 1);
    padding: 0.6875rem;
    cursor: pointer;

    @media only screen and (min-width: 1440px) {
      width: 51.38%;
      font-size: 1rem;
      line-height: 1.2119rem;
    }
  }

  &__button:hover {
    background-color: hsla(223, 87%, 63%, 0.77);
  }

  // error styling
  &__error-message {
    display: none;
  }

  &__input.error ~ &__error-message {
    display: block;
    text-align: center;
    font-size: 0.625rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.0081rem;
    font-style: italic;
    color: $red;

    @media only screen and (min-width: 1440px) {
      position: absolute;
      font-size: 0.75rem;
      line-height: 1.25rem;
      letter-spacing: 0.0094rem;
      top: 4.0625rem;
      left: 1.875rem;
    }
  }
}

/*----------------------------
      hero image section
----------------------------*/

.hero-image {
  width: 100%;
  margin: 4.4375rem 0 0;

  @media only screen and (min-width: 1440px) {
    margin: 5.3125rem 0 0;
  }
}

/*----------------------------
      footer section 
----------------------------*/

.footer {
  margin: 7.5625rem 0 0;

  @media only screen and (min-width: 1440px) {
    margin: 4.25rem 0 0;
  }
  &__social-media {
    display: flex;
    justify-content: center;
    gap: 0.7319rem;
  }

  &__link {
    display: flex;
    justify-content: center;
    width: 1.9375rem;
    height: 1.9375rem;
    align-items: center;
    text-decoration: none;
    color: $blue;
    border: 0.0625rem solid hsla(223, 87%, 63%, 0.15);
    border-radius: 50%;
  }

  &__link:hover {
    background-color: $blue;
    color: white;
    border: 0.0625rem solid $blue;
  }

  &__icon {
    font-size: 0.875rem;
  }

  &__copyright {
    font-size: 0.625rem;
    line-height: 0.7575rem;
    font-weight: 300;
    color: $gray;
    margin: 1.625rem 0 0;

    @media only screen and (min-width: 1440px) {
      font-size: 0.75rem;
      line-height: 0.9375rem;
    }
  }
}
