/*----------------------------
      layout
 ----------------------------*/
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;

  @media only screen and (min-width: 1440px) {
    align-items: center;
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  margin: 84px 28px 37px;
  align-items: center;
  max-width: 550px;

  @media only screen and (min-width: 1440px) {
    max-width: 640px;
    margin: 80px 0;
  }
}

/*----------------------------
      cta section
----------------------------*/
.cta {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 28px;

  @media only screen and (min-width: 1440px) {
    padding: 0 2px;
  }

  &__heading {
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    color: $gray;
    margin: 32px 0 15px;

    @media only screen and (min-width: 1440px) {
      font-size: 48px;
      line-height: 60px;
    }

    span {
      font-weight: 700;
      color: $dark-blue;
    }
  }

  &__text {
    font-size: 12px;
    line-height: 14.54px;
    color: $dark-blue;
    margin: 0 0 32px;

    @media only screen and (min-width: 1440px) {
      font-size: 20px;
      line-height: 24.24px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media only screen and (min-width: 1440px) {
      flex-direction: row;
      gap: 16px;
      position: relative;
    }
  }

  &__input {
    border: 1px solid $pale-blue;
    border-radius: 28px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    padding: 10px 32px;
    color: hsla(223, 59%, 83%, 1);

    @media only screen and (min-width: 1440px) {
      width: 100%;
      font-size: 16px;
      padding: 18px 30px;
    }
  }

  &__input::placeholder {
    color: hsla(223, 59%, 83%, 1);
  }

  &__button {
    background-color: $blue;
    border-radius: 28px;
    border: none;
    box-shadow: 0px 5px 10px 2px rgba(76, 123, 243, 0.230414);
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: hsla(0, 0%, 100%, 1);
    padding: 12px;
    cursor: pointer;

    @media only screen and (min-width: 1440px) {
      width: 43.38%;
      font-size: 16px;
      line-height: 19.39px;
    }
  }

  &__button:hover {
    background-color: hsla(223, 87%, 63%, 0.77) ;
  }

  // error styling
  &__error-message {
    display: none;
  }

    &__input.error ~ &__error-message {
      display: block;
      text-align: center;
      font-size: 10px;
      line-height: 20px;
      font-weight: 400;
      letter-spacing: 0.13px;
      font-style: italic;
      color: $red;
      
      @media only screen and (min-width: 1440px) {
        position: absolute;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.15px;
        top: 65px;
        left: 30px;
      }
    }

    
}

.hero-image {
  width: 100%;
  margin: 71px 0 0;

  @media only screen and (min-width: 1440px) {
    margin: 94px 0 0;
  }
}

/*----------------------------
      footer section 
----------------------------*/

.footer {
  margin: 121px 0 0;

  @media only screen and (min-width: 1440px) {
    margin: 72px 0 0;
  }
  &__social-media {
    display: flex;
    justify-content: center;
    gap: 11.71px;
  }

  &__icon {
    display: flex;
    justify-content: center;
    width: 32px;
    height: 31px;
    align-items: center;
    text-decoration: none;
    color: $blue;
    border: 1px solid $pale-blue;
    border-radius: 50%;
    padding: 2px;
  }

  &__icon:hover {
    background-color: $blue;
    color: white;
    border: 1px solid $blue;
  }

  &__copyright {
    font-size: 10px;
    line-height: 12.12px;
    font-weight: 300;
    color: $gray;
    margin: 27px 0 0;
  }
}
